.transition-box {
    transition: all 1s ease;
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-box{
    animation: fadeBox 2s forwards;
  }

  .fade-box-reverse{
    animation: fadeBoxReverse 2s forwards;}

  .transition-box-content {
    animation: fadeBoxContent 1s forwards;
  }
  .transition-box-content-parent {
    animation: fadeBoxContentParent 4s forwards;
  }

    @keyframes fadeBox {
        0% { height: 58px; width: 115px; }
        50% { height: 58px; width: 200px; }
        100% { height: 310px; width: 200px; }
        
    }

    @keyframes fadeBoxReverse {
        0% { height: 310px; width: 200px; }
        50% { height: 58px; width: 200px; }
        100% { height: 58px; width: 115px; }
        
    }

    @keyframes fadeBoxContent {
        0% { opacity: 0; }
        50% { opacity: 0.6; }
        100% { opacity: 1; }
        
    }
    @keyframes fadeBoxContentParent {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
        
    }
    